<ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/feedback.jpg"></ion-img>
        <ion-card-header>
          <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
          <ion-card-title></ion-card-title>
          <ion-card-subtitle>Give us your honest Feedback!</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Tell us what are you thinking?</p>
          <p><a target="_blank" rel="noopener" 
          href="https://docs.google.com/forms/d/1vSU_VbYcllX-8Mk3x6y7bBefrPsUWp0pCghnXkWavxQ/edit">
          Click here</a> to leave your details and comments.</p><br/>
        </ion-card-content>
      </ion-card>
</ion-content>

