<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>LnJ Group</ion-card-subtitle>
      <ion-card-title>Bhilwara Infotech Pvt Ltd</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/bhilwarainfo.jpg"></ion-img>
      Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>Project 1</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is my first ionic app with 3 Tabs.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item>
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label>Project 2</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is my second ionic app with multiple cards and Tabs.
      </ion-card-content>
    </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>Click here to view Project 1 contents</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>Click here to view Project 2 contents</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
