<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/contactus.jpg"></ion-img>
        <ion-card-header>
          <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
          <ion-card-title></ion-card-title>
          <ion-card-subtitle>For any Queries or details you can call or e-mail us on</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="mail" slot="start"></ion-icon> info@bhilwarainfo.com <br/> <br/>
            <ion-icon name="phone-portrait" slot="start"></ion-icon> +91-8046306666
        </ion-card-content>
      </ion-card>
</ion-content>
